<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bulma Customizer</title>
  <link rel="stylesheet" id="main-css" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/customStyle.css">
  <script src="https://kit.fontawesome.com/18c8e0d8f1.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar is-info mb-2" role="navigation" aria-label="dropdown navigation">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png"
        alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        <!-- Docs -->
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item">
          Overview
        </a>
        <a class="navbar-item">
          Elements
        </a>
        <a class="navbar-item">
          Components
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
          Version 0.9.4
        </div>
      </div>
    </div>
  </nav>
  <div class="container is-flex is-flex-direction-row">
    <div class="container is-flex-direction-column">
      <div class="tabs is-boxed">
        <ul>
          <li class="is-active tab-link" id="customize-variables">
            <a>
              <span class="icon is-small">
                <i class="fa-brands fa-sass" aria-hidden="true"></i></span>
              <span>Variáveis</span>
            </a>
          </li>
          <li class="tab-link" id="add-class">
            <a>
              <span class="icon is-small">
                <i class="fa-solid fa-pen-to-square"></i></span>
              <span>Criar Classes</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="container tab-content" id="customize-variables-container"></div>

      <div class="container tab-content  is-hidden display-block" id="add-class-container">
        <div id="add-class-content" class="field container is-flex-direction-column">
          <p class="title is-4">Criar Classes</p>
          <p class="m-2">Que tal adicionar uma classe personalizada com os atributos de CSS do jeito que você
            quiser?</p>
          <div class="container is-flex is-justify-content-center mb-4">
            <button class="button is-info is-outlined m-2" id="add-custom-class">Clique aqui para
              começar!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons container is-fluid is-justify-content-center">
    <a class="button is-primary" id="compileButton">
      <span class="icon is-small"><i class="fa-solid fa-rotate" aria-hidden="true"></i></span><span>Compilar
        Sass</span></a>
    <a class="button is-link" id="downloadButton" disabled>
      <span class="icon is-small"><i class="fa-solid fa-file-arrow-down" aria-hidden="true"></i></span><span>Baixar
        CSS</span></a>
    <label class="checkbox testarCSS" disabled>
      <input type="checkbox" class="testarCSS" disabled> Testar CSS
    </label>
  </div>
  <script  type="module" src="/js/scripts.js"></script>
</body>
</html>