
select {
  width: 100%;
}

.is-small-custom {
  width: 30%;
}

.max-label-size {
  width: 15%;
}

.max-label-color-size {
  align-items: flex-start;
  width: 19%;
}

.max-label-image-size {
  width: 32%;
}

.input-number-size {
  width: 55%;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 10vmax;
  width: 10vmax;
  padding: 0;
  border-radius: 50%
}

*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

.cp_wrapper {
  overflow: hidden;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0px grey;
  margin: 1em;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.display-block {
  display: block;
}

.not-visible {
  display: none;
}